# будет игнорировать каталог tmp
tmp/

# будут игнорироваться все файлы и каталоги Thumbs.db
Thumbs.db

# будут игнорироваться все файлы и каталоги .DS_Store
*.DS_Store

# будут игнорироваться все файлы и каталоги с расширением _old
Site For Import/*_old

# будут игнорироваться все файлы и каталоги с расширением _backup
Site For Import/img/*_backup